<form action='/landmarks/<%= @landmark.id %>' method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="landmark[name]" id="name" placeholder="<%= @landmark.name %>"></input>

  <br></br>

  <input type="text" name="landmark[year_completed]" id="year_completed" placeholder="<%= @landmark.year_completed %>"></input>

  <br></br>

  <input type="submit" value="Edit Landmark">
</form>
