<table>
  <tr>
    <th>Landmark</th>
    <th>Year Completed</th>
  </tr>
    <% Landmark.all.each do |landmark| %>
    <tr>
      <td> <%= landmark.name %> </td>
      <td> <%= landmark.year_completed %> </td>
    <% end %>
    </tr>
<table>
