<form action='/landmarks' method="POST">
  <input type="text" name="landmark[name]" id="landmark_name" placeholder="Landmark Name"></input>

  <br></br>

  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="Year Completed"></input>

  <br></br>

  <input type="submit" value="Create New Landmark">
</form>
