<table style="width:100%">
  <tr>
    <th>Figure</th>
    <th>Titles</th>
    <th>Landmarks</th>
  </tr>
  <tr>
    <td> <%= @figure.name %> </td>
    <% @figure.titles.each do |title| %>
      <td> <%= title.name %> </td>
    <% end %>
    <% @figure.landmarks.each do |landmark| %>
      <td> <%= landmark.name %> </td>
    <% end %>
  </tr>
<table>
